{:paths ["src"]
 :deps {io.github.kotoba-lang/org-ietf-sd-jwt
        {:git/url "https://github.com/kotoba-lang/org-ietf-sd-jwt.git"
         :git/sha "a1bb8817c360d07d174ac1bc1cef78d4ce20decb"}
        io.github.kotoba-lang/org-ietf-jws
        {:git/url "https://github.com/kotoba-lang/org-ietf-jws.git"
         :git/sha "858c577db273591b34d0d557e3ab84dd2765e004"}
        io.github.kotoba-lang/io-multiformats
        {:git/url "https://github.com/kotoba-lang/io-multiformats.git"
         :git/sha "561fe7dfada3db852b127f06d41750dabd3cead9"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.clojure/data.json {:mvn/version "2.5.1"}
                      io.github.kotoba-lang/org-ietf-ed25519
                      {:git/url "https://github.com/kotoba-lang/org-ietf-ed25519.git"
                       :git/sha "c1ba8322a33b668da1311ca69a8cdde3c7981b52"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}
  :dev {:override-deps
        {io.github.kotoba-lang/org-ietf-sd-jwt {:local/root "../org-ietf-sd-jwt"}
         io.github.kotoba-lang/org-ietf-jws {:local/root "../org-ietf-jws"}
         io.github.kotoba-lang/io-multiformats {:local/root "../io-multiformats"}
         io.github.kotoba-lang/org-ietf-ed25519 {:local/root "../org-ietf-ed25519"}}}}}
